# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
tuumaonnetused/node_modules/
tuumaonnetused/.pnp
tuumaonnetused/.pnp.js

# testing
tuumaonnetused/coverage

# production
tuumaonnetused/build

# misc
tuumaonnetused/.DS_Store
tuumaonnetused/.env.local
tuumaonnetused/.env.development.local
tuumaonnetused/.env.test.local
tuumaonnetused/.env.production.local

tuumaonnetused/npm-debug.log*
tuumaonnetused/yarn-debug.log*
tuumaonnetused/yarn-error.log*
